.containerhm{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #75747b;
    height: 100vh;
}

.textarea{

}

body{
    margin: 0;
    padding: 0;
}

.story{
    width: 700px;
}

#switcher{
    justify-self: flex-end!important;
}

.black-navbar {
    background-color: #110058!important;
    color: white!important;
}

.black-theme {
    background-color: #060017!important;
    color: white!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}


/*cookies*/
.pr-position{
    position: relative!important;
}

.card {
    width: 350px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
}

.cookies a {
    text-decoration: none;
    color: #000;
    margin-top: 8px;
}

.cookies a:hover {
    text-decoration: none;
    color: blue;
    margin-top: 8px;
}